*{
    margin:0;
    padding:0;
    text-decoration: none;
    box-sizing: border-box;
}
.grid-container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 1.5fr 1.2fr 1.2fr 1.2fr 0.8fr ;
    grid-template-areas:
    "nav nav nav nav"
    "sidebar main main main"
    "sidebar content content2 content3"
    "sidebar content4 content4 content3"
    "sidebar content5 content5 content6"
    "sidebar footer footer footer";
}
/* nav start */


.nav-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-container .nav-links{
    list-style: none;
    display:flex;
    align-items: center;
    justify-content: center;
}
.hamburger-menu {
    display: none;
    font-size: 4rem;
    background: none;
    border: none;
    cursor: pointer;
    color: #ffffff;
}
.nav-container .nav-links li a{
    margin-left: 5rem;
    margin-right: 5rem;
    font-size: 20px;
    position: relative;
    color: #57cc99;
    text-transform: uppercase;
    padding-bottom: 0.2rem;
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
.nav-container .nav-links li img{
    width: 6rem;
}
.nav-container .nav-links li a::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width:0;
    height: 2px;
    background-color: #e4c1f9;
    transition: width 0.25s ease-out;
}
.nav-container .nav-links li a:hover:before{
    width: 100%;
}

.nav-container .nav-links li a:hover{
    cursor: pointer;
}
/* navbar end */
/* hero start */
.hero-image{
    background-image: linear-gradient(rgba(34, 87, 122, 0.47), rgba(34, 87, 122, 0.47)), url(./images/mammoth-1257288_1920.jpg);
    min-height: 80vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    position: relative; 
    box-sizing: border-box; 
    margin: 0;
    padding-top: 6rem;
    overflow: hidden;

    
}
.hero-image .hero-text{
    text-align: center;
    color: rgb(255, 255, 255);
    max-width: 90%; 
    font-size: 1.5rem; 
    padding: 10px;
    border-radius: 5px;
    overflow:hidden;
    
}
.hero-image .hero-text h1{
    font-weight: 700;
    font-family: "Playfair Display", serif;
    margin-top: 2.5rem;
    
}
.hero-image .hero-text .hero-paragraph{
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 450;
    margin-top: 2rem;;
}
.hero-image .hero-text button{
    width: 180px;
    height: 78px;
    margin-top: 2rem;
    border-radius: 10px;
    text-align: center;
    background: #22577A;
    color: #FFF;
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    border: none;
}
.hero-image .hero-text button:hover{
    /* color when hovering- all buttons */
    background:#245f87;    
    cursor:pointer;
}
.hero-image .hero-text button:active{
    /* all buttons active */
    background:#26648e;    
}
/* hero end */
/* sidebar start */
.sidebar .sidebar-container{
    display: flex;
    flex-direction: column;
    margin-top:2rem;
    margin-left:2rem;
    
}

.sidebar .sidebar-container .sidebar-header{
    font-family:  "Playfair Display", serif;
    font-weight: 600;
    color:black;
    margin-bottom: 2rem;
    font-size: 32px;
    
    
}
.sidebar .sidebar-container .sidebar-list li{
    color: #22577a;
    padding: 40px 10px;
    font-size: 24px;
    list-style: none;  
    
}
.sidebar .sidebar-container .sidebar-list li i{
    margin-right: 0.5rem;
}

.sidebar .sidebar-container .sidebar-list li a{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color:black;
}

.sidebar .sidebar-container .sidebar-list .bottom-sidebar1 p{
    color:black;
    font-size: 15px;
    font-weight: 700;
}

.sidebar .sidebar-container .sidebar-list li a:hover{
    color: #d08af8;
    cursor: pointer;
}
/* Sidebar End */
/* Card Beginning */
.card-content{
    position: relative;
    height: 25.625rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.vertical-line{
    height: 3rem;
    border-left:5px solid rgba(87, 204, 153, 1);
    position: absolute;
    left: 15%;
    top:35%
}
.horizontal-line{
    width: 3rem;
    border-bottom:5px solid rgba(87, 204, 153, 1);
    position: absolute;
    left: 15%;
    top:80%;
}
.card-content h3{
    font-family: "Roboto", sans-serif;
    font-size: 38px;
    color: #FFF;
    text-align: center;
    font-weight: 700;
    padding: 1rem;
    margin-top: 2rem;
}
.card-content p{
    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    width: 211px;
    max-width: 250px; 
}
.card-content .contribute-button{
    width: 9.25rem;
    height: 4rem;
    border-radius: 10px;
    background: #57CC99;
    border-style: none;
    color: #FFF;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 2rem;
}
.card-content .contribute-button:hover{
    background:#66C099;
    cursor: pointer;
}
.card-content .contribute-button:active{
    /* contribute button sctive colors */
    background:#6bc8a0;
}
/* card nr 4 */
.content4 .content4-card{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; 
    width: 100%;
    margin: 0 auto;
}
.content4 .content4-card h2{
    font-family: "Racing Sans One", sans-serif;
    color:#ffffff;
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    margin-top: 2rem;
}
.content4 .content4-card p{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 23px;
    color:#ffffff;
    padding: 5px;
    text-align: center;
}
.content4 .content4-card a{
    color: #57CC99;
    font-size: 4.9rem;
    padding-top: 20px;
}
/* card 4 end */
/* card 5 start */
.content5 .content5-card{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; 
    width: 100%;
    

}
.content5 .content5-card h2{
    font-family: "Racing Sans One", sans-serif;
    color:#ffffff;
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    margin-top: 2rem;
}
.content5 .content5-card p{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 23px;
    color:#ffffff;
    padding: 5px;
}
.content5 .content5-card a{
    color: #57CC99;
    font-size: 4.9rem;
    padding-top: 20px;
}
/* card 5 end */
/* card 6 start */
.content6 .content6-card{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; 
    width: 100%;
}
.content6 .content6-card h2{
    font-family: "Racing Sans One", sans-serif;
    color:#ffffff;
    text-align: center;
    font-size: 55px;
    font-weight: 400;
    margin-top: 2rem;
}
.content6 .content6-card p{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 23px;
    color:#ffffff;
    padding: 5px;
    margin-top: 2rem;
    text-align: center;
}
.content6 .content6-card a{
    color: #57CC99;
    font-size: 4.9rem;
    padding-top: 20px;
    margin-top: 2.7rem;
}
/* card 6 end */














/* Exhibition page start */

.hero-image-exhibitions{
    background-image: linear-gradient(rgba(34, 87, 122, 0.47), rgba(34, 87, 122, 0.47)), url(./images/andrew-ruiz-348421.jpg);
    min-height: 70vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    position: relative; 
    box-sizing: border-box; 
    margin: 0;
    padding-top: 6rem;
    overflow: hidden;
}

.hero-image-exhibitions .hero-text-exhibitions{
    text-align: center;
    color: rgb(255, 255, 255);
    max-width: 90%; 
    font-size: 3rem; 
    border-radius: 5px;
    overflow:hidden;
    font-weight: 700;
    font-family: "Playfair Display", serif;
}
/* first content on page */
.museum-container{
    display: block;
    justify-content: center;
    align-items: center;
    border: 2px solid #000000;
    width: 95%;
    margin: 0 auto; 
    margin-bottom: 2rem;
}
.museum-container .image-container{
    width: 100%;
}
.museum-container .image-container img {
    width: 100%; /* Ensure the image fills the container */
    height: auto; /* Prevent image distortion */
    max-height: 600px; /* Set a maximum height */
    object-fit: cover; /* Cover the entire container */
}

.museum-container .museum-container-content{
    padding-top: 20px;
    padding-left: 20px;
}
.museum-container .museum-container-content h2{
    font-family: "Playfair Display", serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: #000000;
}
.museum-container .museum-container-content h3{
    font-family: "Playfair Display", serif;
    font-size: 1.8rem;
    font-weight: 700;
    color: #000000;
    padding-bottom: 5px;
}
.museum-container .museum-container-content p{
    font-family: "Roboto", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    color: #000000;
    padding-bottom: 1rem;
}
/* first content end */
/* wrapper for next contents */
.container-wrapper{
    display: flex;
    justify-content: space-between; /* Distribute space between items */
    align-items: stretch;
    width: 95%;
    margin: 0 auto; /* Center the wrapper */
    gap: 2rem; /* Optional: Add gap between items */
}




/* second content start */
.cosmology-container{
    display: flex;
    flex-direction: column;
    border: 2px solid #000000;
    width: 70%;
    margin-bottom: 2rem;
}
.cosmology-container .cosmology-image-container{
    width: 100%;
}
.cosmology-container .cosmology-image-container img{
    width: 100%; /* Ensure the image fills the container */
    height: auto; /* Prevent image distortion */
    max-height: 600px; /* Set a maximum height */
    object-fit: cover; /* Cover the entire container */
}

.cosmology-container .cosmology-container-content{
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}
.cosmology-container .cosmology-container-content h2{
    font-family: "Playfair Display", serif;
    font-size: 3rem;
    font-weight: 700;
    color: #000000;
}
.cosmology-container .cosmology-container-content p{
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: #000000;
}
/* second content end */
/* third content start */
.robotics-container{
    display: flex;
    flex-direction: column;
    border: 2px solid #000000;
    width: 30%;
    margin-bottom: 2rem;
}
.robotics-container .robotics-image-container{
    width: 100%;
}
.robotics-container .robotics-image-container img{
    width: 100%; /* Ensure the image fills the container */
    height: auto; /* Prevent image distortion */
    max-height: 600px; /* Set a maximum height */
    object-fit: cover; /* Cover the entire container */
}
.robotics-container .robotics-container-content{
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}
.robotics-container .robotics-container-content h2{
    font-family: "Playfair Display", serif;
    font-size: 3rem;
    font-weight: 700;
    color: #000000;
}
.robotics-container .robotics-container-content p{
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: #000000;
}
/* third content end*/


/* second row start */
.container-wrapper-second-row{
    display: flex;
    justify-content: space-between; /* Distribute space between items */
    align-items: stretch;
    width: 95%;
    margin: 0 auto; /* Center the wrapper */
    gap: 2rem; /* Optional: Add gap between items */
}

/* fourth content start */
.evolution-container{
    display: flex;
    flex-direction: column;
    border: 2px solid #000000;
    width: 60%;
    margin-bottom: 2rem;
}
.evolution-container .evolution-image-container{
    width: 100%;
}
.evolution-container .evolution-image-container img{
    width: 100%; /* Ensure the image fills the container */
    height: auto; /* Prevent image distortion */
    max-height: 600px; /* Set a maximum height */
    object-fit: cover; /* Cover the entire container */
}
.evolution-container .evolution-container-content{
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}
.evolution-container .evolution-container-content h2{
    font-family: "Playfair Display", serif;
    font-size: 3rem;
    font-weight: 700;
    color: #000000;
}
.evolution-container .evolution-container-content p{
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: #000000;
}
/* fourth content end */
/* fifth content start */
.biology-container{
    display: flex;
    flex-direction: column;
    border: 2px solid #000000;
    width: 40%;
    margin-bottom: 2rem;
}
.biology-container .biology-image-container{
    width: 100%;
}
.biology-container .biology-image-container img{
    width: 100%; 
    min-height: 350px;
    object-fit: cover; 
}
.biology-container .biology-container-content{
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}
.biology-container .biology-container-content h2{
    font-family: "Playfair Display", serif;
    font-size: 3rem;
    font-weight: 700;
    color: #000000;
}
.biology-container .biology-container-content p{
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: #000000;
}
/* fifth content end */
/* sixth content start */
.event-container{
    display: flex;
    flex-direction: column;
    border: 2px solid #000000;
    width: 95%;
    margin: 0 auto 2rem auto; 
}
.event-container .event-image-container{
    width: 100%;
}
.event-container .event-image-container img{
    width: 100%; 
    max-height: 600px;
    object-fit: cover; 
}
.event-container .event-container-content{
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}
.event-container .event-container-content h2{
    font-family: "Playfair Display", serif;
    font-size: 3.2rem;
    font-weight: 700;
    color: #000000;
}
.event-container .event-container-content p{
    font-family: "Roboto", sans-serif;
    font-size: 2.2rem;
    font-weight: 400;
    color: #000000;
}
/* sixth content end */













/* footer start */
.footer-container {
    display: flex;
    justify-content: space-between; /* Distribute space between columns */
    padding: 1rem; /* Add some padding for better spacing */
    color: #fff; /* Text color for the footer */
}

.footer-content {
    display: flex;
    width: 100%;
}

.footer-content ul {
    list-style: none;
    padding: 0;
}

.footer-content ul li {
    margin-bottom: 0.5rem;
}

.footer-content ul li h3 {
    margin-bottom: 1rem;
    font-size: 25px;
    font-family: "Playfair Display", serif;
    
}

.footer-content ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    font-family: "Roboto", sans-serif;
}
.footer-content ul li a i{
    color: #57cc99;
    margin-right: 0.5rem;
}
.footer-content ul li a:hover {
    text-decoration: underline;
}
.footer-content .second-column-footer li p{
    font-size: 17px;
    font-family: "Roboto", sans-serif;
}
.footer-content .third-column-footer li p{
    font-size: 17px;
    font-family: "Roboto", sans-serif;
}
.footer-content .third-column-footer li a{
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}
.footer-content .third-column-footer li i{
    color: #57cc99;
    margin-right: 0.5rem;
    font-size: 20px;
}

.first-column-footer,
.second-column-footer {
    flex: 1; /* Ensure both columns take equal space */
    margin-right: 1rem; /* Add some margin between columns */
}
nav{
    grid-area: nav;
    background-color: #22577a;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
main{
    grid-area: main;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.sidebar{
    background-color: #c7f9cc;
    grid-area: sidebar;
    top: 6.5rem;
    left: 0;
    position: fixed;
    height: 100vh;
    width: 25%;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 999;
}
.content{
    grid-area: content;
}
.content2{
    grid-area: content2;
}
.content,
.content2 {
    background-color: #22577A;
    margin-left: 2rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
    position: relative;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px; 
}
/* content 3 grid area */
.content3{
    background-color:#80ed99;
    grid-area: content3;
    margin-right:2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    height: 1033px;
    background-image: url(./images/reading-2762010_1280.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* content 4 grid area */
.content4{
    
    grid-area: content4;
    margin-left: 2rem;
    margin-right: 1rem;
    height:500px;
    background-image: linear-gradient(rgba(34, 87, 122, 0.47), rgba(34, 87, 122, 0.47)), url(./images/people-219985_1280.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2rem;
}
/* content 5 grid area */
.content5{
    grid-area: content5;
    margin-left: 2rem;
    margin-right: 1rem;
    height:800px;
    background-image: linear-gradient(rgba(34, 87, 122, 0.47), rgba(34, 87, 122, 0.47)), url(./images/jesse-orrico-60373.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2rem;
    text-align: center;
    
}
.content6{
    grid-area: content6;
    margin-left: 2rem;
    margin-right: 2rem;
    height:800px;
    background-image: linear-gradient(rgba(34, 87, 122, 0.47), rgba(34, 87, 122, 0.47)), url(./images/william-bout-264826.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2rem;
}

/* footer grid area */
.footer{
    background-color: #22577a;
    grid-area: footer;
}

@media (max-width: 1425px) {
    /* first page css */
    .content4 .content4-card p {
        font-size: 19px;
    }
     .content5 .content5-card p,
    .content6 .content6-card p {
        font-size: 19px;
    }
    /* first page css end */
    /* second page css start */
    
}
@media (max-width: 768px) {
    /* first page css */
    .nav-container {
        flex-direction: column;
    }

    .nav-container .nav-links {
        display: none; /* Hide nav links */
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .nav-container .nav-links li a {
        margin: 0.5rem 0;
    }
    .nav-container .nav-links li img {
        display: none; /* Hide the logo */
    }

    .hamburger-menu {
        display: block; /* Show hamburger menu */
    }

    .nav-container.active .nav-links {
        display: flex; /* Show nav links when active */
    }

    .content4 .content4-card h2,
    .content5 .content5-card h2,
    .content6 .content6-card h2 {
        font-size: 2rem;
    }
    .content4 .content4-card p,
    .content5 .content5-card p,
    .content6 .content6-card p {
        font-size: 1.2rem;
    }
    .content4 .content4-card a,
    .content5 .content5-card a,
    .content6 .content6-card a {
        font-size: 4rem;
    }
    
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "nav"
            "main"
            "content"
            "content2"
            "content3"
            "content4"
            "content5"
            "content6"
            "footer";
    }
    .sidebar {
        display: none; /* Hide the sidebar */
    }
    .footer-content {
        flex-direction: column;
        align-items: center;
    }
    .footer-content ul {
        margin: 1rem 0;
        width: 100%;
    }
    /* first page css end */
    /* second page css start*/
    .container-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cosmology-container{
        width: 100%;
        margin-bottom: 0px;
    }
    .robotics-container{
        width: 100%;
    }
    .container-wrapper-second-row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .evolution-container{
        width: 100%;
        margin-bottom: 0px;
    }
    .biology-container{
        width: 100%;
    }
    .hero-image-exhibitions .hero-text-exhibitions{
        font-size: 2rem;
    }
}


@media (max-width: 480px) {
    /* first page css start */
    .nav-container {
        flex-direction: column;
    }

    .nav-container .nav-links {
        display: none; /* Hide nav links */
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .nav-container .nav-links li a {
        margin: 0.25rem 0;
    }
    .nav-container .nav-links li img {
        display: none; /* Hide the logo */
    }

    .hamburger-menu {
        display: block; /* Show hamburger menu */
    }

    .nav-container.active .nav-links {
        display: flex; /* Show nav links when active */
    }

    .content4 .content4-card h2,
    .content5 .content5-card h2,
    .content6 .content6-card h2 {
        font-size: 2rem;
    }

    .content4 .content4-card p,
    .content5 .content5-card p,
    .content6 .content6-card p {
        font-size: 1rem;
    }

    .content4 .content4-card a,
    .content5 .content5-card a,
    .content6 .content6-card a {
        font-size: 3.5rem;
    }
    .content{
        margin-right: 2rem;
    }
    .content2{
        margin-right: 2rem;
    }
    .content4{
        margin-right: 2rem;
    }
    .content5{
        margin-right: 2rem;
    }


    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "nav"
            "main"
            "content"
            "content2"
            "content3"
            "content4"
            "content5"
            "content6"
            "footer";
    }
    .sidebar {
        display: none; /* Hide the sidebar */
    }
    /* first page css end */
    /* second page css start */
}